# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

again.contract/target/
again.core/target/
again.dictionary/target/
again.framework/target/
again.service/target/
again.web/target/
